* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* #main {
  background-color: white;
  width: 100%;
  height: 100vh;
} */

body {
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Home */
nav {
  width: 100%;
  height: 15%;
  background-color: peru;
  line-height: 80px;
}
nav ul {
  float: right;
  margin-right: 80px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav ul li a:hover {
  border-bottom: 2px solid yellow;
}
nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: black;
}
nav .logo {
  width: 120px;
  /* height: 50%; */
  float: left;
  margin-left: 40px;
  text-align: center;
  padding: 0;
}
nav .logo h1 {
  padding: 0 5px 0 5px;
  margin: 0 auto;
}
nav .logo:hover {
  border-bottom: 2px solid yellow;
}
.image-section {
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}
.image-section .image img {
  border-radius: 50%;
}
.image-section .full-name {
  margin-top: 40px;
  font-size: 2.5rem;
}
.image-section .career {
  margin-top: 15px;
  font-size: 2rem;
}
.name {
  color: peru;
}
.title {
  color: peru;
}

/* About */
.about-section {
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 150px;
  overflow: hidden;
}
.about {
  width: 40%;
  height: 70vh;
  float: left;
}

.about img {
  width: 400px;
  height: 450px;
  margin-left: 100px;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
.general {
  width: 50%;
  float: left;
  height: 70vh;
  padding: 50px 150px 0 0;
}
.aboutMe {
  margin-top: 30px;
  font-style: oblique;
  font-size: 19px;
}
